<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

	<head>
		<meta charset="UTF-8"/>
		<script type="text/javascript">
			<!--
			function setActiveStyleSheet(title) {
				var i, a;
				for(i = 0;(a = document.getElementsByTagName("link")[i]); i++) {
					if(a.getAttribute("rel").indexOf("style") != -1 && a.getAttribute("title")) {
						a.disabled = true;
						if(a.getAttribute("title") == title) a.disabled = false;
					}
				}
			}
		</script>
		<link title="style1" rel="stylesheet" href="/static/css/style.css" type="text/css" />
		<link title="style2" rel="alternate stylesheet" href="/static/css/style2.css" type="text/css" />
		<link title="style3" rel="alternate stylesheet" href="/static/css/style3.css" type="text/css" />
	</head>

	<body>
		<div class="style_changer" style="margin-left:50px;">
			<div class="style_changer_text">Themes:</div>
			<input type="submit" value="1" onclick="setActiveStyleSheet('style1');" />
			<input type="submit" value="2" onclick="setActiveStyleSheet('style2');" />
			<input type="submit" value="3" onclick="setActiveStyleSheet('style3');" />
		</div>

		<div class="form_content">
			<form id="out" action="./add_out" method="post">
				<fieldset>
					<legend>基本信息</legend>
					<div class="form-row">
						<div class="field-label"><label for="id">标识(内部标识可不填)</label>:</div>
						<div class="field-widget"><input name="id" id="id" class="optional" title="" /></div>
					</div>
					
					<div class="form-row">
						<div class="field-label"><label for="product">名称</label>:</div>
						<div class="field-widget"><input name="product" id="product" class="required" title="请输入 名称" /></div>
					</div>
					
					<div class="form-row">
						<div class="field-label"><label for="code">品种代码</label>:</div>
						<div class="field-widget"><input name="code" id="code" class="required" title="请输入 品种代码" /></div>
					</div>
					
					<div class="form-row">
						<div class="field-label"><label for="exchange">交易所</label>:</div>
						<div class="field-widget"><input name="exchange" id="exchange" class="required" title="请输入 交易所" /></div>
					</div>
					
					<div class="form-row">
						<div class="field-label"><label for="unit">合约单位</label>:</div>
						<div class="field-widget"><input name="unit" id="unit" class="required" title="请输入 合约单位" /></div>
					</div>
					
					<div class="form-row">
						<div class="field-label"><label for="tick">最小波动单位</label>:</div>
						<div class="field-widget"><input name="tick" id="tick" class="required" title="请输入 最小波动单位" /></div>
					</div>
					
					<div class="form-row">
						<div class="field-label"><label for="worth">最小波动价值</label>:</div>
						<div class="field-widget"><input name="worth" id="worth" class="required" title="请输入 最小波动价值" /></div>
					</div>
					
					<div class="form-row">
						<div class="field-label"><label for="currency">结算货币</label>:</div>
						<div class="field-widget"><input name="currency" id="currency" class="required" title="请输入 结算货币" /></div>
					</div>
					
					<div class="form-row">
						<div class="field-label"><label for="contract_month">合约月份</label>:</div>
						<div class="field-widget"><input name="contract_month" id="contract_month" class="required" title="请输入 合约月份" /></div>
					</div>
					
					<div class="form-row">
						<div class="field-label"><label for="tradingTime">交易时间</label>:</div>
						<div class="field-widget"><input name="tradingTime" id="tradingTime" class="required" title="请输入 交易时间" /></div>
					</div>
					
					<div class="form-row">
						<div class="field-label"><label for="last_trading_date">最后交易日</label>:</div>
						<div class="field-widget"><input name="last_trading_date" id="last_trading_date" class="required" title="请输入 最后交易日" /></div>
					</div>
					
				</fieldset>
				
				<fieldset>
					<legend>其他项</legend>
					<div class="form-row">
					<div class="form-row">
						<div class="field-label"><label for="margin">保证金</label>:</div>
						<div class="field-widget"><input name="margin" id="margin" class="required" title="请输入 保证金" /></div>
					</div>
					
					<div class="form-row">
						<div class="field-label"><label for="raising_limit">涨跌幅限制</label>:</div>
						<div class="field-widget"><textarea name="raising_limit" id="raising_limit" class="required"></textarea></div>
					</div>
					
					<div class="form-row">
						<div class="field-label"><label for="delivery_method">交割方式</label>:</div>
						<div class="field-widget"><input name="delivery_method" id="delivery_method" class="required" title="请输入 交割方式" /></div>
					</div>
					
					<div class="form-row">
						<div class="field-label"><label for="offer">报价 </label>:</div>
						<div class="field-widget"><input name="offer" id="offer" class="required" title="请输入 报价" /></div>
					</div>
					
					<div class="form-row">
						<div class="field-label"><label for="declaration_level">申报水平</label>:</div>
						<div class="field-widget"><input name="declaration_level" id="declaration_level" class="required" title="请输入 申报水平" /></div>
					</div>
					
					<div class="form-row">
						<div class="field-label"><label for="position_limit">持仓限额</label>:</div>
						<div class="field-widget"><input name="position_limit" id="position_limit" class="required" title="请输入 持仓限额" /></div>
					</div>
					
					<div class="form-row">
						<div class="field-label"><label for="first_notice_day">首次通知日</label>:</div>
						<div class="field-widget"><input name="first_notice_day" id="first_notice_day" class="required" title="请输入 首次通知日" /></div>
					</div>
				</fieldset>
				
				<input type="submit" class="submit" value="Submit" />
				<input class="reset" type="button" value="Reset" onclick="reset(); return false" />
			</form>
		</div>

	</body>

</html>
