<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Hello MUI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!-- 引入jquery -->
    <script type="text/javascript" src="static/js/jquery-3.1.1.min.js"></script>
    <!-- 引入toast -->
    <script src="static/js/toast.js"></script>
    <!--标准mui.css-->
    <link rel="stylesheet" href="/static/css/mui.min.css">
    <!--App自定义的css-->
    <link rel="stylesheet" type="text/css" href="/static/css/app.css" />
    <style>
        .mui-row.mui-fullscreen>[class*="mui-col-"] {
            height: 100%;
        }

        .mui-col-xs-3,
        .mui-control-content {
            overflow-y: auto;
            height: 100%;
        }

        .mui-segmented-control .mui-control-item {
            line-height: 50px;
            width: 100%;
        }

        .mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active {
            background-color: #fff;
        }
    </style>
</head>

<body>
    <header class="mui-bar mui-bar-nav">
        <div>
            <form id="searchForm" onsubmit="return false;" style="float: right;">
                <input type="text" id="searchInput" placeholder="enter here..." name="keyword" autofocus="autofocus" onkeypress="if(event.keyCode==13) {searchBtn.click();return false;}"
                    style="width: 70%;">
                <input type="button" id="searchBtn" style="width: 25%;vertical-align:middle" onclick="search()" value="Search"></input>
            </form>
        </div>
    </header>

    <div class="mui-content mui-row mui-fullscreen">
        <div class="mui-col-xs-3">
            <div id="segmentedControls" class="mui-segmented-control mui-segmented-control-inverted mui-segmented-control-vertical">
            </div>
        </div>
        <div id="segmentedControlContents" class="mui-col-xs-9" style="border-left: 1px solid #c8c7cc;">

        </div>
    </div>
    <script src="/static/js/mui.min.js"></script>
    <script>
        mui.init({
            swipeBack: false //启用右滑关闭功能
        });
        var controls = document.getElementById("segmentedControls");
        var contents = document.getElementById("segmentedControlContents");
        var html = []; //左侧栏
        var subhtml = []; //右侧栏

        function fillContents(tag, arr) {
            for (child of tag.children) {
                tag.removeChild(child);
            }
            tag.innerHTML = arr.join('');
        }


        function deleteItem(th, index) {
            console.log(index)
            inp = th;
            $.ajax({
                type: "POST",
                url: " /delete",
                data: { "data": index},
                success: function () {
                    li_tag = inp.parentElement.parentElement.parentElement;
                    ul_tag = li_tag.parentElement;
                    li_tag.parentElement.removeChild(li_tag);
                    if (ul_tag.children.length == 0) {
                        mas = document.getElementsByClassName('mui-active');
                        mas[0].parentElement.removeChild(mas[0]);
                        ul_tag.parentElement.parentElement.removeChild(ul_tag.parentElement);
                        controls.querySelector('.mui-control-item').classList.add('mui-active');
                        contents.querySelector('.mui-control-content').classList.add('mui-active');
                    }
                    Toast("DELETE SUCCESS!",1000);
                },
                error: function () {
                    alert("DELETE ERROR!");
                }
            });
        }

        function modifyItem(th, index) {
            inp = th;
            item = inp.parentElement.parentElement.children[0]['href'];
            location.href = item.replace("admin", "modify")
        }

        var i = 1, j = 1;

        {% for c in context %}
        html.push('<a class="mui-control-item" href="#content' + i + '">{{c}}({{context[c] | length}})</a>');
        subhtml.push('<div id="content' + i + '" class="mui-control-content"><ul class="mui-table-view">');
        {% for item in context[c] %}
        subhtml.push(
            `<li class="mui-table-view-cell" >
                <div style="line-height:200%;">
                    <a href="/admin/{{item[0]}}" target="_blank">{{item[1]}}</a>
                    <div style="float:right;">
                        <input type="button" value="delete" onclick="deleteItem(this, {{item[0]}})" ></input>
                        <input type="button" value="modify" onclick="modifyItem(this, {{item[0]}})"></input>
                    </div>
                </div>
            </li>`
        );
        {% endfor %}
        subhtml.push('</ul></div>');
        i++;
        {% endfor %}
        fillContents(controls, html);
        fillContents(contents, subhtml);

        

        //默认选中第一个
        controls.querySelector('.mui-control-item').classList.add('mui-active');
        contents.querySelector('.mui-control-content').classList.add('mui-active');

        function search() {
            var val = document.getElementById("searchInput").value.replace(/(^\s*)|(\s*$)/g, '');//delete space
            if (val == '' || val == undefined || val == null) {
                alert("please enter keyword!")
            } else {
                $.ajax({
                    type: "POST",
                    url: "/search",
                    data: $('#searchForm').serialize(),
                    success: function (data) {
                        if (data == '[]') {
                            alert("Nothing Find!") //this is a fucking bug
                        } else {
                            html = [];
                            subhtml = [];
                            var i = 1;
                            var response_data = JSON.parse(data);
                            for (exchange in response_data) {
                                html.push('<a class="mui-control-item" href="#content' + i + '">' + exchange + '</a>');
                                subhtml.push('<div id="content' + i + '" class="mui-control-content"><ul class="mui-table-view">');
                                for (item of response_data[exchange]) {
                                    subhtml.push(
                                        '<li class="mui-table-view-cell"><div style="line-height:200%;">\
                                            <a href="/admin/' + item[0] + '" target="_blank">' + item[1] + '</a>\
                                            <div style="float:right;">\
                                                <input type="button" onclick="deleteItem(this, ' + item[0] +' )" value="delete"></input>\
                                                <input type="button" onclick = "modifyItem(this, ' + item[0] + ')" value="modify""></input>\
                                            </div>\
                                        </li>'
                                    );
                                }

                                subhtml.push('</ul></div>');
                                i++;

                            }
                            //填充左控制栏
                            fillContents(controls, html);
                            //填充由内容栏
                            fillContents(contents, subhtml);

                            //默认选中第一个
                            controls.querySelector('.mui-control-item').classList.add('mui-active');
                            contents.querySelector('.mui-control-content').classList.add('mui-active');

                        }
                    },
                    error: function () {
                        alert("ERROR");
                    }
                });
            }
        }

    </script>

</body>

</html>